@font-face {
    font-family: "ormont";
    src: url(../fonts/Ormont_Light.ttf) format("truetype")
}

@font-face {
    font-family: "pt";
    src: url(../fonts/PTSansCaption-Regular.ttf) format("truetype")
}

@font-face {
    font-family: "saira";
    src: url(../fonts/SairaCondensed-Regular.ttf) format("truetype")
}

@font-face {
    font-family: "dancing";
    src: url(../fonts/DancingScript-Regular.ttf) format("truetype")
}

@font-face {
    font-family: "cinzel";
    src: url(../fonts/Cinzel-Regular.ttf) format("truetype")
}

@font-face {
    font-family: "roboto";
    src: url(../fonts/Roboto-Regular.ttf) format("truetype")
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Ecran jusqu'à 480px */

/* Entète */

header {
    display: flex;
    height: 60px;
    width: 100%;
    background-color: rgba(52, 73, 94, 1.0);
    backdrop-filter: blur(4px);
    position: fixed;
    top: 0;
    z-index: 1;
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    cursor: pointer;
}
 
.hamburger:first-child {
    margin-top: 0;
}

.bar1,
.bar2,
.bar3 {
    height: 6px;
    width: 35px;
    margin-top: 6px;
    background-color: white;
    border-radius: 5px;
    transition: all 0.7s;
}

.banner img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    margin-top: 60px;
    width: 100%;
}

/* Barre de navigation */

.logo {
    display: flex;
    height: 60px;
    justify-content: flex-end;
}

.logo img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    position: fixed;
    top: 5px;
    right: 5px;
    height: 50px;
    z-index: 9999;
}

.navbar {
    display: flex;
}

.navul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 60px;
    height: 100%;
    width: 70%;
    left: -70%;
    background-color: rgba(52, 73, 94, 0.7);
    backdrop-filter: blur(4px); 
    transition: transform 0.5s;

}

.navul li {
    list-style: none;
    padding-left: 0;
    padding: 8px;
}

.navul a {
    font-weight: bold;
    font-family: ormont;
    text-decoration: none;
    color: white;
    width: 50%;
    justify-content: left;
    padding-left: 10px;
}

.network {
    z-index: 999999999;
    position: fixed;
    top: 20px;
    left: 60px;
}

.face,
.youtube {
    padding-right: 5px;
}

.open .bar1,
.open .bar2,
.open .bar3 {
    background-color: rgb(252, 55, 55);
}

.open .bar1 {
    transform: translateY(200%) rotate(-45deg);
}

.open .bar2 {
    transform: rotate(-45deg);
    opacity: 0;
}

.open .bar3 {
    transform: translateY(-200%) rotate(45deg);
}

.slide {
    transform: translateX(100%);
}

.noscroll {
    overflow: hidden;
}

/* Contenu */

#accueil,
#projets,
#dons,
#contact,
#podcast,
#adhesions,
#shop {
    height: 70px;
}

article img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    border-radius: 5px;
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

article h1 {
    font-size: 1.2rem;
    text-align: center;
    font-family: saira;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

article h3 {
    border-bottom: 1px;
    font-family: saira;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    font-size: 1.1rem;
}

article iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

article li {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.8rem;
    font-family: pt;
}

article p {
    text-align: justify;
    font-size: 0.8rem;
    font-family: pt;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.project p {
    margin-top: 50px;
}

.projet_4:hover {
    border-radius: 20px;
}

.projet_4 {
    border-radius: 20px;
    width: 30%;
    box-shadow: 8px 7px 10px 3px rgba(0,0,0,0.75);
}

article p a {
    width: 10%;
}

.podcast {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 30px;
}

.podcast1 {
    margin-left: auto;
    margin-right: auto;
}

h2 {
    text-align: center;
    font-family: cinzel;
    font-size: 0.9rem;
}

.podcast1 h2 {
    width: 300px;
    text-align: center;
}

.live1 {
    width: 200px;
    height: 300px;
}

.live2 {
    width: 300px;
    height: 300px;
}

.live3 {
    width: 300px;
    height: 200px;
}

.live4 {
    width: 300px;
    height: 200px;
}


.live5 {
    width: 300px;
    height: 200px;
}

.shop p {
    text-align: left;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.shop {
    border: dashed rgba(52, 73, 94, 1.0);
    border-radius: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.object {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row-gap: 30px;
}

.object img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    border-radius: 20px;
}

.object img:hover {
    border-radius: 20px;
}

.object1,
.object2,
.object3,
.object4,
.object5,
.object6 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.object6 {
    margin-top: auto;
    margin-bottom: auto;
}

/* Contact */

.formulaire {
    width: 80%;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

form {
    width: 100%;
}

legend {
    margin-top: 50px;
    text-align: center;
    font-family: saira;
    font-size: 1.1rem;
    font-weight: bold;
}

.maps iframe {
    width: 300px;
    height: 200px;
}

.maps {
    flex-direction: column;
    display: flex;
}

.adress {
    color: #2980b9;  
    display: flex;  
    font-family: pt;
    font-size: 0.8rem;
    justify-content: center;
}

input[type="text"],
input[type="email"],
textarea {
    margin-top: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100%;
    border: 1px solid black;
}

input[type="submit"] {
    border-radius: 10px;
    color: white;
    padding: 10px;
    border: none;
    background-color: #16a085;
    margin-bottom: 30px;
}

input[type="submit"]:hover {
    background-color: #c0392b;
}

textarea {
    resize: none;
    height: 150px;
}

@media (min-width: 576px) {

    .logo img {
        top: 5px;
        height: 50px;
    }

    .projet_4 {
        width: 50%;
    }

    input[type="text"],
    input[type="email"] {

        height: 30px;
        margin-top: 8px;
        margin-bottom: 15px;
        border-radius: 5px;
        width: 100%;
        border: 1px solid black;
}
    
}

@media (min-width: 768px) {

    .logo {
        display: flex;
    }

    .logo img {
        left: 10px;
    }
    
    .navbar {
        position: fixed;
        top: 0;
        z-index: 2;
    }

    .navul {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-end;
        top: 0;
        left: 0;
        height: 60px;
    }

    .navul a {
        font-size: 0.6rem;
    }

    .navul li {
        padding: 5px;
    }

    .network {
        top: 30px;
        text-align: right;
        right: 20px;
    }

    header {
        background-color: rgba(52, 73, 94, 0.7);
    }

    .hamburger {
        display: none;
        z-index: 2;
    }

    article img:hover {
        border-radius: 50%;
        transition: all 0.5s;
    }

    article h1 {
        font-size: 1.8rem;
    }

    article h3 {
        font-size: 1.5rem;
    }

    article p, article li {
        font-size: 1.2rem;
    }

    .projet_4 {
        width: 30%;
    }

    .podcast {
        grid-template-columns: 45% 45%;        
    }
    
    h2 {
        font-family: cinzel;
        font-size: 1.1rem;
    }

    .adress {
        font-size: 1.2rem;
    }

    legend {
        font-size: 1.8rem;
    }

    label {
        font-size: 1.2rem;
    }
}

@media (min-width: 992px) {
    

    .network {
        top: 20px;
        text-align: left;
        left: 300px;
    }

    .podcast1 h2 {
        width: 400px;
    }

    .podcast1 {
        width: 400px;
    }

    .live1 {
        width: 300px;
        height: 400px;
    }

    .live2 {
        width: 400px;
        height: 400px;
    }

    .live3 {
        width: 400px;
        height: 200px;
    }

    .live4 {
        width: 400px;
        height: 200px;
    }

    .live5 {
        width: 400px;
        height: 200px;
    }
    

    .formulaire {
        display: flex;
        width: 90%;
    }

    .maps {
        width: 50%;
        display: flex;
        justify-content: center;
    }

    form {
        width: 40%;
        margin-left: auto;
    }
}

@media (min-width: 1200px) {    

    .navul a {
        font-size: 0.9rem;
    }

    .navul li:last-child {
        padding-right: 15px;
    }

    .navul li {
        padding: 10px;
    }

    article h1 {
        font-size: 1.8rem;
    }
    
    article p {
        font-size: 1.2rem;
    }

    article li {
        font-size: 1.2rem;
    }

    .object {
        grid-template-columns: 33% 33% 33%;
    }

    .formulaire {
        margin-top: 100px;
    }

    legend {
        font-size: 1.8rem;
    }

    label {
        font-size: 1.6rem;
    }
    
    input[type="submit"]:hover {
        background-color: #c0392b;
    }

    .formulaire {
        width: 90%;
        margin-left: auto;
        margin-right: 70px;
    }

    .maps iframe {
        width: 400px;
        height: 300px;
    }    

}

@media (min-width: 1600px) {

    .podcast {
        grid-template-columns: 33% repeat(2, 33%);        
    }

    .formulaire {
        width: 90%;
    }
}
